
.tc-editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  .ant-row.ant-form-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .ant-form-item-label {
    margin-left: 250px;
  }

  .ant-form-item-control-wrapper {
    margin:0 64px;
    flex: 1;
  }

  .priority {
    width: 100%;
  }

  footer {
    display: flex;
    justify-content: center;
  }
}